<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOlite</title>
{% load static %}

    <link rel="icon" href="{% static 'molite.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    
 
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  

<!-- Latest compiled JavaScript -->

<style>

 html, body {
scroll-behavior: smooth;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      height: 100vh;
      padding: 0;
      
    }
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    margin-right: 15px;
  width:100%;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    nav{
	
	
	
	background-size:cover;
	background-width: 100px;
	background-position: absolute;
	font-family: Arial;
}

    .jumbotron a, p{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
    margin-top: 5px;
    
}

.jumbotron a:hover
{
   
	color: #228b22;

}


@media screen and (min-width: 1025px) {
    .jumbotron {
        width: 50%;
        margin: 0 auto;
    }
}


  </style>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="postion: fixed !important; z-index: 3; width: 100%;">
      <a class="navbar-brand" href="/"><img height="30" width="100" src="{% static 'molite1.jpg' %}"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav justify-content-center mr-auto">
        {% if user.is_authenticated %}
          <li><a class="nav-link" id="home" href="">Home</a></li>
            <li><a class="nav-link" href="#">Locations</a></li>
            <li><a class="nav-link" href="#">Vacancies</a></li>
            <li><a class="nav-link" href="#">Info</a></li>
            {% if request.user.profile.role == 'Agent'%}
            <li><a class="nav-link" href="{% url 'Agent:Agent'  %}">Agent Home</a></li>
            {% endif %}
            <li><a class="nav-link" href="{% url 'logout'  %}">Logout</a></li>
             
            {% else %}
            <li><a class="nav-link" id="home" href="">Home</a></li>
            <li><a class="nav-link" href="#">Locations</a></li>
            <li><a class="nav-link" href="#">Vacancies</a></li>
            <li><a class="nav-link" href="#">Info</a></li>
            <li><a style="cursor: pointer;" class="nav-link" id="myBtn" >Sign up or Login </a></li>
            <li><a class="nav-link" href="#">About us</a></li>
            {% endif %}
        </ul>
        <form action="/search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" required type="search" autocomplete="off"  name="q" aria-label="Search" placeholder="Search for vacancies...">
          <button class="btnn" style="" type="button"><i style="color: #000; " class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </nav>



      <div class="jumbotron" >
        
            <form  id="NewAgent" style="background-color: #000;  padding: 20px;
    border: 1px solid #888;">
            <h1 style="text-align: center; color: #206aaa;">Become an Agent</h1>
            {% csrf_token %}
            {% if form.errors %}
      
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}
              <p>First name</p>
              {{ form.first_name }}
              <p>Second name</p>
              {{ form.last_name }}
              <p>Username</p>
              {{ form.username }}
              <span id='username_error'></span>
              <p>Email</p>
              {{ form.email }}

              <p>location</p>
              {{ form.Location }}
              <span id='email_error'></span>
              <p>Password</p>
              {{ form.password1 }}
              <span id='password_error'></span>
              <p>Confirm</p>
              {{ form.password2 }}
              <span id='message'></span>
              <input style="width: 100%;"  id="submit"  type="submit" name="submit" value="Submit">
              <h1 id="Notifications"></h1>
				      <a id="login" href="" name="SignUp">Already have an Account?</a>
            </form>
      </div>

<br>
{% include 'includes/_footer.html' %}

  <script>





    $('#id_password2').on('keyup', function () {

      if ($('#id_password1').val() == $('#id_password2').val()) {
        
        $('#message').html('Matching').css('color', 'green');
        
        
        
      } else 
        $('#message').html('Not Matching').css('color', 'red');
      
        
    });




    $(document).on('submit', '#NewAgent', function(e){
              e.preventDefault();
              

              
              $.ajax({

                type: 'POST',
                url: '{% url 'Agent:NewAgent'  %}',
                data:{
                  name: $('#id_first_name').val(),
                  lastname:$('#id_last_name').val(),
                  username:$('#id_username').val(),
                  email:$('#id_email').val(),
                  password:$('#id_password1').val(),
                
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                cache: false,
                
              
                
                success:function(response){
                  if(response['username_error']) {
                         $("#username_error").html(response['username_error']).css('color', 'red');
                         
                     } 
                     else{
                         $("#username_error").html('');
                         
                     } 


                  if(response['email_error']) {
                         $("#email_error").html(response['email_error']).css('color', 'red');
                         
                     } 
                  else{
                         $("#email_error").html('')
                         
                     } 
                  if(response['password_error']) {
                         $("#password_error").html(response['password_error']).css('color', 'red');
                         
                     } 

                      else{
                         $("#password_error").html('');
                         
                     } 
                     if(response['success']) {
                         $('#submit').html('').css( 'display', 'none');
                  $('#Notifications').html('Successful Registered <br> <a class="btn btn-success" id="login"> Login</a>').css('color', 'green'); 
                         
                     } 
                  
                  
                  
                
                },
                error: function(data) {
                  $('#Notifications').html(data.message).css('color', 'red');
                
                }
              });
            });


  
$(document).on('submit', '#LoginForm', function(e){
              e.preventDefault();
             
              $('.ajaxProgress').show();
              
              
              $.ajax({

                type: 'POST',
                url: '{% url 'UserLogin'  %}',
                data:{
                  
                  username:$('#id_username').val(),
                  
                  password:$('#id_password').val(),
                
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                
                
                
              
                
                success:function(response){

                  
                  if(response['username_error']) {
                          $('.ajaxProgress').hide();
                         $("#usernamee_error").html(response['username_error']).css('color', 'red');
                         
                     } 
                     else{
                         $("#usernamee_error").html('');
                         
                     } 

                     if(response['password_error']) {
                       $('.ajaxProgress').hide();
                         $("#password_error").html(response['password_error']).css('color', 'red');
                         
                       
                         
                     } 
                     else{
                       
                         $("#password_error").html('').css('color', 'red');
                         
                     } 

                     

                     if(response['success']) {
                       $('.ajaxProgress').hide();
                         $('#Login').html('').css( 'display', 'none');
                  $('#Notifications').html('<h1>Welcome</h1>').css('color', 'green'); 

                  

                  location.reload().delay( 10000 );
                     } 

                  
                
                },
                error: function(data) {
                  $('.ajaxProgress').hide();
                  $('#Notifications').html(data.message).css('color', 'red');
                
                }
              });
            });

$('#home').click(function(e) {
   e.preventDefault();

            $.ajax({
                method: 'GET',
                url: '{% url 'home'  %}',
                
                success: function (data) {
                    
                    $('#content').html(data)
                },
                error: function(data){
                    return false;
                }
            });
        });


 $(document).ready(function()
    {   
        $(document).on("click", "#login", function (e) {
            e.preventDefault();

            $.ajax({
                method: 'GET',
                url: '{% url 'Login'  %}',
                
                success: function (data) {
                    
                    $('#modall-content').html(data)
                },
                error: function(data){
                    return false;
                }
            });
        });
    });

    $(document).ready(function()
    {   
        $(document).on("click", "#signup", function (e) {
            e.preventDefault();

            $.ajax({
                method: 'GET',
                url: '{% url 'Signup'  %}',
                
                success: function (data) {
                    
                    $('#modall-content').html(data)
                },
                error: function(data){
                    return false;
                }
            });
        });
    });

    

    </script>

</body>
</html>