<div class="modal fade" tabindexrole="dialog" id="custom-modal">  
                        <div class="modal-dialog modal-sm" role="document">  
                            <div class="modal-content">  
                                <!-- modal-header -->  
                                <div class="modal-header" id="modal-head"></div>  
                                <!-- modal-body -->  
                                <div class="modal-body" id="modal-body"></div>  
                                <!-- modal-footer -->  
                                <div class="modal-footer" id="modal-footer"></div>  
                            </div>  
                        </div>  
                    </div>  