<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-4 col-sm-4 col-md-4 col-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/image"><i class="fa fa-angle-double-right"></i>vacancies</a></li>
                    <li><a href="/home"><i class="fa fa-angle-double-right"></i>Signup and Login</a></li>
                    
    
                </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://web.facebook.com/JoshiJaxDjango/"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/mohsingram"><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-4">
                <h5>About Molite</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://web.facebook.com/JoshiJaxDjango/"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="list-unstyled quick-links"> Creating value to enable FREEDOM</p>
                <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/mohsingram" target="">Molite</a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->